dlthon-kevin/.ipynb_checkpoints
dlthon-bob/.ipynb_checkpoints/
dlthon-kevin/wandb/
dlthon-bob/wandb/
dlthon-stuart/wandb/
share/wandb/
dlthon-kevin/hs_err_pid423.log
share/.ipynb_checkpoints/
.ipynb_checkpoints
wandb
share/models
share/submissions
dlthon-kevin/submissions
dlthon-bob/submissions
dlthon-stuart/submissions
share/artifacts
dlthon-kevin/artifacts
dlthon-bob/artifacts
dlthon-stuart/artifacts

